@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* font-size: 1.6em; */
}

nav {
    position: fixed;
    /* background:  hsl(356, 100%, 66%); */
    padding: 1em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    font-family: Overpass;
    color: white;
    width: 100%;
}

a.navbtn1, a.navbtn2 {
    font-family: Overpass;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 1em;
    padding: .5em 2em;
    font-weight: 700;
}

a.navbtn1 {
    /* background: hsl(355, 100%, 74%); */
    color: white;
    margin-right: .2em;

}

a.navbtn2 {
    background: white;
    color: hsl(356, 100%, 66%);
}

a.navbtn2:hover {
    background: hsl(355, 100%, 74%);
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li ul {
    display: none;
    background: white;
    margin-left: -3em;
    padding: 1.5em;
    border-radius: .5em;
    position: absolute;
    margin-top: .5em;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    display: block;
    padding: .5em;
    font-size: 1em;
}

nav ul li ul li a {
    text-decoration: none;
    color: hsl(237, 23%, 32%);
}

nav ul li ul li a:hover {
    color: hsl(240, 10%, 16%);
    font-weight: 700;
}

.banner {
    /* padding: 10em 30em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50em;
    background: hsl(356, 100%, 66%);
    text-align: center;
    border-radius: 0 0 0 5em;
    background-image: url("./images/bg-pattern-intro-desktop.svg");
    /* background-position: right; */
    background-position: 150%;
    background-size: 75%;
    background-repeat: no-repeat;
}

.banner h1 {
    font-size: 4em;
    /* margin-bottom: .5em; */
    color: white;
    font-family: Overpass;
}

.banner p {
    color: white;
    font-size: 1.8em;
    margin: 1em 0 2em 0;
    font-family: Ubuntu;
}

.banner a {
    text-decoration: none;
    font-size: 1.6em;
    font-family: Overpass;
    font-weight: 700;
    padding: .7em 1.5em;
    border-radius: 1.5em;
  
}

a.cta1 {
    background: white;
    color: hsl(356, 100%, 66%);
}

a.cta1:hover {
    background: hsl(355, 100%, 74%);
    color: white;
    /* border: 1px solid white; */
}

a.cta2:hover {
    background: white;
    color: hsl(356, 100%, 66%);
    
}

a.cta2 {
    color : white;
   background: hsl(356, 100%, 66%);
   border: 1px solid white;
}

.mobile {
    display: flex;
    align-items: center;
}

.features {
    padding: 5em 0;
    text-align: center;
}

.features h2 {
    font-size: 3em;
    font-family: Overpass;
    color: hsl(237, 23%, 32%);
}

.feat {
    display: flex;
    align-items: center;
}

.text {
    width: 50%;
    text-align: left;
    padding: 3em 2em 3em 10em;
}

.text h3 {
    font-size: 1.8em;
    font-family: Overpass;
    color: hsl(237, 23%, 32%);
}

.text p {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 1em 0;
    width: 90%;
    font-family: Ubuntu;
    color: hsl(207, 13%, 34%);
}

.text div {
    margin: 5em 0;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
}

.state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em;
    background: hsl(237, 23%, 32%);
    height: 25em;
    width: 100%;
    border-radius: 0 10em 0 10em;

}

.state-image {
    background: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    /* background-position: left; */
    background-size: contain;
    width: 50%;
}

.state-image img {
    width: 80%;
}

.state-text {
    width: 50%;
}

.state-text h4 {
    font-size: 2em;
    color: white;
    font-family: Overpass;
    margin-bottom: 1em;
}

.state-text p {
    font-size: 1.5em;
    color: hsl(240, 2%, 79%);
    line-height: 1.5;
    font-family: Ubuntu;
}

.feat2 {
    display: flex;
    align-items: center;
    padding: 10em 0;
}

.text2 {
    width: 50%;
    text-align: left;
    padding: 3em 10em 3em 0;
}

.text2 h3 {
    font-size: 1.8em;
    font-family: Overpass;
    color: hsl(237, 23%, 32%);
}

.text2 p {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 1em 0;
    width: 90%;
    font-family: Ubuntu;
    color: hsl(207, 13%, 34%);
}

.text2 div {
    margin: 5em 0;
}

.image2 {
    width: 50%;
}

.image2 img {
    width: 100%;
}


footer {
    display: flex;
    background: hsl(240, 10%, 16%);
    /* justify-content: space-between; */
    border-radius: 0 10em 0 0;
    padding: 5em 10em;
}

footer div {
    width: 25%;
}

footer h4 {
    font-size: 1.6em;
    margin-bottom: 1em;
    color: white;
    font-family: Overpass;
}

footer li {
    padding: .5em 0;
    font-size: 1.4em;
    list-style: none;
}

footer a {
    color: hsl(240, 2%, 79%);
    text-decoration: none;
    font-family: Ubuntu;
}

footer a:hover {
    text-decoration: underline;
}

.open, hr {
    display: none;
}

@media (max-width:798px) {

    nav {
        padding: 1em 4em;
        display: block;
        background: rgba(0, 0, 0, .2);
        position: absolute;
    }

    .logopen {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile {
        background: white;
        padding: 2em 1em;
        border-radius: .3em;
        margin-top: 1em;
        display: none;
        width: 100%;
        position: relative;
    }

    nav ul li {
        color: hsl(237, 23%, 32%);
        display: block;
        /* position: relative; */
        width: 100%;
        /* font-weight: 00; */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    a.navbtn1 {
        margin: unset;
        color: hsl(237, 23%, 32%);
        margin-top: 1em;
    }

    a.navbtn2 {
        background: hsl(356, 100%, 66%);
        color: white;
        margin-top: 1em;
    }

    .banner {
        padding: 2em 4em;
    }

    nav ul li ul {
        position: relative;
        margin: unset;
        /* width: 100%; */
        /* font-size: .7em; */
        /* padding: 1em; */
        background: hsl(240, 2%, 79%);
    }

    nav ul li ul li {
        text-decoration: unset;
        position: relative;

    }

    nav ul li:hover img {
        transform: rotate(180deg);
    }

 

    hr {
        color: hsl(240, 2%, 79%);
        display: block;
    }


    nav ul li ul li a {
        color: hsl(237, 23%, 32%);
    
    }

    body {
        text-align: center;
        font-size: 1.3em;
    }

    .feat {
        padding-bottom: 0em;
        position: relative;
    }

    .text, .text2 {
        padding: unset;
    }
    
    .text p, .text2 p {
        width: 100%;
    }


    .features {
        padding: 2em;
    }

    .feat {
        flex-direction: column-reverse;
        padding-bottom: 6em;
    }

    .feat2 {
        flex-direction: column;
        padding: unset;
    }

    .text2 {
        padding: 2em;
    
    }

    .text, .text2, .image, .image2 {
        width: 100%;
        text-align: center;
      
    }

    /* .image img, .image2 img {
        width: 100%;
    } */

    .image, .image2 {
          padding: 2em 3em;
    }


    footer {
        flex-wrap: wrap;
        padding: 3em 4em;
    }

    footer div {
        width: 50%;
        margin-bottom: 2em;
    }

    .state {
        display: block;
        height: unset;
        padding: 0 4em 10em  4em;
        position: relative;
    }

    .state-text {
        width: 100%;
    }

    .state-image {
        width: 100%;
    }

    .state-image img {
        object-fit: contain;
        height: auto;
        width: 100%;
        margin-top: -30%;
    }

    .open {
        display: block;
    }

    .accordion {
        stroke: red;
        fill: red;
    }

  
}

@media (max-width:600px) {

    body {
        font-size: unset;
    }

    nav {
        padding: 1em 2em;
    }

    footer {
        display: block;
        
        text-align: center;
    }

    footer div {
        width: 100%;
      
        text-align: center;
    }

    .banner, footer {
        padding: 4em 2em;
    }

    .banner h1 {
        font-size: 3em;
    }
}

@media (max-width:1024px) {
    nav {
        padding: 2em 5em;
    }

    /* .mobile {
        display: flex;
        
    } */
}